/* For styling the rendered Markdown */
p, ol, ul, li, code {
    font-size: 20px;
}
h1 {
    border-bottom: 0px;
    border-top: 1px;
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
